<!-- FOOTER -->
 <footer >
      
	<div class="container">
      	
		<h3 class="text-center">Follow me!</h3>
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			<ul class="list-inline text-center">
			<li  class="list-inline-item">
				<a href="https://www.facebook.com/jorde.guevara"><i class="fa fa-facebook  fa-lg"> </i></a>	
			</li>

			<li  class="list-inline-item">
				<a href="#"><i class="fa fa-twitter fa-lg"> </i> </a>
			</li>
			<li class="list-inline-item">
				<a href="#"><i class="fa fa-youtube fa-lg"> </i> </a>
			</li>

			<li  class="list-inline-item">
				<a href="https://github.com/jordeguevara"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
			</li>

		</ul>
		</div>
	</div>
	<p class="text-center">&copy; Code-Llama 2017-2018</p>
	</div>
 </footer>
