<!-- FOOTER -->
 <footer class="site-footer">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12 col-md-6">
		</div>

	<div class="container">
	  <div class="row">
		<div class="col-md-8 col-sm-6 col-xs-12">
		  <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
	   <a href="#">Devhouse</a>.
		  </p>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
		  <ul class="social-icons">
			<li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
			<li><a class="twitter" href="https://twitter.com/_Jguavaa"><i class="fa fa-twitter"></i></a></li>
			<li><a class="github" href="https://github.com/jordeguevara"><i class="fa fa-github"></i></a></li>
			<li><a class="linkedin" href="https://www.linkedin.com/in/jordeguevara"><i class="fa fa-linkedin"></i></a></li>   
		  </ul>
		</div>
	  </div>
	</div>
</footer>
