<!-- views/partials/head.ejs -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<!-- CSS (load bootstrap from a CDN) -->
	<title>Code Llama</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<meta name="author" content="SitePoint">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
     <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
