.login {
background-color: #337eff;
border: none; 
border-radius: 7.5px;
margin-left: 1rem;

	@media only screen and (max-width: 991px) {
		margin-left: 0;
		background-color: white;
	}
}

.signup{
//background-color: #D46A6A;
background-color: #50C878;
border: solid  $color-white;
border-radius: 7.5px;
	@media only screen and (max-width: 991px) {
		margin-left: 0;
		background-color: white;
		display: inline-block;
		padding: 0;
		margin: 0
	}

}