@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 50px;
  font-weight: 1200;
}

.about {
  position: relative;
}

.navbar-light .navbar-toggler {
  color: #fff;
}

.fa-map-marker {
  color: #f25ca2;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-toggler {
  padding: 0.75rem 0.75rem;
  font-size: 1.75rem;
}

.card {
  border: none;
}
.popping {
  color: #f25ca2;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #003b74;
}

@keyframes moveInLeft {
  0% {
    opacity: 0.2;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0.2;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.projects--title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.white-background {
  /* background-color: white; */
  padding: 20px;
}

.navbar-brand {
  font-size: 3rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  text-align: center;
}

.btn-white {
  bottom: 10px;
  right: -35%;
  background-color: #d46a6a;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #fff;
}

.btn-font-size {
  font-size: 2rem;
}

.feature-box {
  height: 200px;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 0.3s;
}
.feature-box__icon {
  color: #ff5851;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.feature-box h2 {
  color: #ff5851;
}

.navBtn {
  background: transparent;
  border: 2px solid #ff5851;
  margin: 1rem;
  border-radius: 0.5rem;
}

.navbar-light .navbar-nav .nav-link:active {
  color: #fff;
}

.mainNav {
  display: block;
  margin: 2.5rem auto;
  width: 100%;
}

.marg-top {
  margin-top: 75px;
}

.main-container {
  background-color: #fff;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-box__primary {
  margin-bottom: 60px;
}
.text-box__main {
  font-family: "Lato", sans-serif;
  font-size: 4.5vw;
  font-weight: 700;
  display: block;
  text-align: center;
  color: #fff;
  letter-spacing: 30px;
  text-transform: uppercase;
  animation: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
.text-box__sub {
  display: block;
  font-size: 2vw;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  animation: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
@media only screen and (max-width: 944px) {
  .text-box {
    display: none;
  }
}

.card-img-top:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.projects {
  display: flex;
}

.about-section {
  margin-top: 50px;
}

.about-icon {
  padding-top: 1.5vh;
}

.about-section__profile-photo {
  text-align: center;
  margin: 2rem 0;
}

.about-section__info__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.about-section__info p {
  font-family: "EB Garamond", serif;
}

.about-section__skills li {
  font-size: 5rem;
  list-style-type: none;
  display: inline-block;
  padding: 0 2.5rem;
  transition: 1s;
}
.about-section__skills li:hover {
  font-size: 7rem;
}

.emp {
  color: #ff5851;
  font-size: 5rem;
}

.blue {
  color: #87cefa;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  background-color: #fff;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #dcdcdc;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff5851;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-container--left {
  left: 0;
}

/* Place the container to the right */
.timeline-container--right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-container--left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-container--right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent white;
}

/* Fix the circle for containers on the right side */
.timeline-container--right::after {
  left: -16px;
}

/* The actual content */
.timeline-container .timeline-content {
  padding: 20px 30px;
  background-color: #dcdcdc;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .timeline-container--left::after,
  .timeline-container--right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .timeline-container--right {
    left: 0%;
  }
}

.contact-section {
  margin-top: 125px;
}

.form-group {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-control {
  font-size: 2rem;
  padding: 2rem;
}

.title {
  color: #829fd9;
}
a {
  color: #fff;
  font-size: 1.5rem;
}

.card {
  padding: 15px;
}

.card-deck {
  perspective: 700px;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card:hover {
  transform: rotateY(180deg);
  /* this doesnt let it flip */
  transform: translate3d(0,0,0) 
}

.card:hover{
  transform: translateY(-0.5rem);
}

.back {
  transform: rotateY(-180deg);
}

.card div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-title {
  font-size: 1.7rem;
  color: #021859;
}

.card-inner {
  font-size: 1.3rem;
  color: #021859;
}

.card-button {
  position: relative;
  left: 50%;
  width: 50%;
  margin-left: -51.875px;
  padding: 2px;
  background: transparent;
  border-radius: 25px;
  color: #f25ca2;
}

.tags {
  font-size: 1.25rem;
  color: #021859;
}
.resume {
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 2px;
  right: 17.5%;
  border:solid 2px rgba(87,111,230,1);
  background: transparent;
  height: 35px;
  width: 100px;
  border-radius: 15px;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.resume:hover{
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
}

footer {
  margin-top: 40px;
}

.hero {
  background: #fff;
}

p {
  color: #003b74;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.front{
  /* position: absolute; */
}