@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
html {
  font-size: 62.5%; }

body {
  background-color: #F0F0F0; }

@keyframes moveInLeft {
  0% {
    opacity: .2;
    transform: translateX(-250px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: .2;
    transform: translateX(250px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.projects--title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem; }

.white-background {
  background-color: white; }

.navbar-brand {
  font-size: 3rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  text-align: center; }

.btn-white {
  bottom: 10px;
  right: -35%;
  background-color: #D46A6A;
  color: #fff; }

.feature-box {
  height: 200px;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s; }
  .feature-box__icon {
    color: #D46A6A;
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block; }
  .feature-box h2 {
    color: #D46A6A; }

.login {
  background-color: #337eff;
  border: none;
  border-radius: 7.5px;
  margin-left: 1rem; }
  @media only screen and (max-width: 991px) {
    .login {
      margin-left: 0;
      background-color: white; } }

.signup {
  background-color: #50C878;
  border: solid #fff;
  border-radius: 7.5px; }
  @media only screen and (max-width: 991px) {
    .signup {
      margin-left: 0;
      background-color: white;
      display: inline-block;
      padding: 0;
      margin: 0; } }

.marg-top {
  margin-top: 75px; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .text-box__primary {
    margin-bottom: 60px; }
  .text-box__main {
    font-family: "Lato" , sans-serif;
    font-size: 4.5vw;
    font-weight: 700;
    display: block;
    text-align: center;
    color: #fff;
    letter-spacing: 30px;
    text-transform: uppercase;
    animation: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  .text-box__sub {
    display: block;
    font-size: 2vw;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    animation: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  @media only screen and (max-width: 944px) {
    .text-box {
      display: none; } }

.card-img-top:hover {
  transform: translateY(-1.5rem) scale(1.03); }

.projects {
  display: flex; }

.about-section {
  background-color: #FF5851;
  margin-top: 125px; }

.about-icon {
  padding-top: 2vh; }

.about {
  background-color: #FF5851; }

.about-section__profile-photo {
  text-align: center;
  margin: 2rem 0; }

.about-section__info__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.about-section__info p {
  font-family: "EB Garamond", serif; }

.about-section__skills li {
  font-size: 5rem;
  list-style-type: none;
  display: inline-block;
  padding: 0 2.5rem;
  transition: 1s; }
  .about-section__skills li:hover {
    font-size: 7rem; }

.emp {
  color: #FF5851;
  font-size: 5rem; }

.blue {
  color: #87cefa; }

.contact-section {
  margin-top: 125px; }

.form-group {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.form-control {
  font-size: 2rem;
  padding: 2rem; }
