// connneted to index.ejs
.marg-top {
	margin-top: 75px;
}





.text-box {
//	background-color: purple;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	

	&__primary {
	margin-bottom: 60px;
	}

	&__main {
	font-family:  "Lato" , sans-serif;
	font-size: 4.5vw;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #fff;
	letter-spacing: 30px;
	text-transform: uppercase;

	animation: moveInLeft;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	}

	&__sub{
	display: block;
	font-size: 2vw;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1.3rem;
	text-transform: uppercase;
	text-align: center;


	animation: moveInRight;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	}

	@media only screen and (max-width: 944px) {
		display: none;
	}
	
}
.card-img-top{
	   &:hover {
        transform: translateY(-1.5rem) scale(1.03);
}
}

.projects{
	display: flex; 
	@media (min-width: 576px) and (max-width: 767.98px) { 
	
	}
}