.btn:link,
.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding:  15px 40px;
	border-radius: 100px;
		text-align: center;

}

.btn-white{
	bottom: 10px;
	right: -35%;
	background-color: #D46A6A;
	color: #fff;

}

p{
	font-size: 2rem;
}

.btn-font-size{
	font-size: 2rem;
}