<!DOCTYPE html>
<html>

<head>
	<title>Jguavaa</title>
	<% include ../partials/head  %>
</head>


<header>
	<% include ../partials/header %>
</header>

<body class="about">

	<main class="about-section">



		<div class="container white-background">
			<div class="row align-items-center">
				<div class="col-sm-3 col-xs-6">
					<div class="about-section__profile-photo">
						<div class="about-icon">
							<img src="images/guaba.jpg" class="ratio img-responsive rounded-circle photo" height="125">
						</div>



						<p>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							Redondo Beach, CA
						</p>
					</div>

				</div>



				<div class="col-sm-9 col-xs-6">
					<div class="about-section__info mt-3">

						<p>
								Hi, I am Jorde! I am a software engineer based in SoCal. Currently,  I mostly develop in the Javascript ecosystem ranging from React/Redux web applications to React Native/Electron applications. However, I have experience developing in Java and tinkering with Kotlin in my spare time. 
								I graduated from California State University, Dominguez Hills, with a B.S in Computer Science.
						</p>

						<p>
						  While I was in school, I had an internship with Jacobs Engineering, spent a semester at the Googleplex in Moutain View and was working as a back-end devleoper at Farmers Insurance. 
						</p>
						</div>
				</div>

			</div>
			<div class="row align-items-center">

		</div>

	</main>

	<div class=" container white-background">
			<h2 class="popping">Projects</h2>

			<div class="row">
					<div class="col-12">
					 <div class="card-deck">
					   <div class="card customCard">
						 <img class="card-img-top img-adjusted" >
						  <div class="card-body">
							<div class="card-title">Mocki</div>
							<p class="card-inner">
							 Real-Time mock interview for software engineers
							</p>
						  </div>
						  <button class="card-button">Source</button>
					   </div>

					   <div class="card customCard">
							<img class="card-img-top img-adjusted" >
							 <div class="card-body">
							   <div class="card-title">Customer Checkout</div>
							   <p class="card-inner">
								Java Application allow you to checkout items
							   </p>
							 </div>
							 <button class="card-button">Source</button>
						  </div>

						  <div class="card customCard">
								<img class="card-img-top img-adjusted" >
								 <div class="card-body">
								   <div class="card-title">Books</div>
								   <p class="card-inner">
									 Filter through books and save to your wishlist, built in Flask
								   </p>
								 </div>
								 <button class="card-button">Source</button>
							  </div>
							  <div class="card customCard">
									<img class="card-img-top img-adjusted" >
									 <div class="card-body">
									   <div class="card-title">LetsVybe</div>
									   <p class="card-inner">
										 Social Media App to connect with others with similar interests
									   </p>
									 </div>
									 <button class="card-button">Source</button>
								  </div>
					 </div>
					</div>
				   </div>
		</div>


	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	 crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/about.js"></script>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>