
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../partials/head  %>
</head>


<header>
	<% include ../partials/header %>
</header>

<body class ="about">

<main class="about-section">
	

	<div class="container white-background">
		<div class="row align-items-center"">
				<div class="col-3">
					<div class="about-section__profile-photo">
						<div class ="about-icon">
								<img src="images/guava.jpg"  class="ratio img-responsive rounded-circle photo"  height="120">
						</div>
				


						<p> 
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							Redondo Beach, CA
						</p>
					</div>		

				</div>		



			<div class="col-9">
				<div class="about-section__info">
					<h2> About: </h2>
					<h1 class="emp"> I am a Web developer.</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sequi veniam incidunt placeat, alias! Soluta omnis saepe enim perferendis vitae praesentium alias animi fugiat magnam. Consequuntur voluptate quod consequatur, neque.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sequi veniam incidunt placeat, alias! Soluta omnis saepe enim perferendis vitae praesentium alias animi fugiat magnam. Consequuntur voluptate quod consequatur, neque.

				</div>
			</div>

		</div>
	<div class="row align-items-center"">		
		<div class="col-12">
			
			<div class="about-section__skills">
				<h3>Langauges:</h3>
				<ul>
					<li><i class="devicon-java-plain colored"></i></li>
					<li><i class="devicon-c-plain colored"></i></li>
					<li><i class="devicon-cplusplus-plain colored"></i></li>

					<li><i class="devicon-javascript-plain colored"></i></li>
					<li><i class="devicon-ruby-plain colored"></i></li>
					<li><i class="devicon-python-plain colored"></i></li>

				</ul>
				<h3>Front-end:</h3>
				<ul>
					<li><i class="devicon-react-original colored"></i></li>
					<li><i class="devicon-angularjs-plain colored"></i></li>
					<li><i class="devicon-sass-original colored"></i></li>
					<li></li>
					
				</ul>

				<h3>Back-End:</h3>
				<ul>
					<li><i class="devicon-nodejs-plain colored"></i></li>
					<li><i class="devicon-go-plain colored"></i></li>
					<li><i class="devicon-mysql-plain-wordmark colored"></i></li>
					
				</ul>

				<h3>Platforms:</h3>
				<ul>
					<li><i class="devicon-android-plain-wordmark colored"></i></li>
					<li><i class="devicon-windows8-original colored"></i></li>
					<li> <i class="devicon-linux-plain colored"></i></li>
					<li><i class="devicon-apple-original colored"></i></li>
				</ul>

				<h3>Interest</h3>
				<p> Cloud computing, Blockchain , Machine-Learning, Web development
				</p>
			</div>
		</div>

	</div>

</div>



<!--
	<div class="about-section__info">
		<div class="container white-background">


				<h2> About: </h2>
				<div class ="about-icon">
					<img src="images/guava.jpg"  class="ratio img-responsive rounded-circle"  height="150">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<p>Redondo Beach, CA</p>
				</div>


				<section class="intro">
				<p> I am a software engineer with a passion for Web and Mobile 
					development. 

				<h3>Langauges </h3>
				<ul>
					<li><i class="devicon-java-plain"></i></li>
					<li><i class="devicon-c-plain"></i></li>
					<li><i class="devicon-cplusplus-plain"></i></li>

					<li><i class="devicon-javascript-plain"></i></li>
					<li><i class="devicon-ruby-plain colored"></i></li>
					<li>Kotlin</li>	
					<li><i class="devicon-python-plain colored"></i></li>

				</ul>
				<h3>Front-end</h3>
				<ul>
					<li><i class="devicon-react-original colored"></i></li>
					<li><i class="devicon-angularjs-plain colored"></i></li>
					<li>Elm</li>
				</ul>

				<h3>Back-End</h3>
				<ul>
					<li><i class="devicon-nodejs-plain colored"></i></li>
					<li>Spring Framework</li>
					<li><i class="devicon-go-plain colored"></i></li>
				</ul>

				<h3>Interest</h3>
				<p> Cloud computing, Blockchain , Machine-Learning, Web development
				</p>

				</section>


					
		</div>
	</div>
-->

</main>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <footer>
	<% include ../partials/footer %>
	</footer>

</body>
</html>