<!DOCTYPE html>
<html>

<head>
  <title></title>
  <% include ../partials/head  %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>


  <main>

    <!-- Main Content -->

    <section class="container marg-top">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                First Post!
              </h2>
              <h3 class="post-subtitle">
                The full-stack endeavour, you against the world!
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="/post">Jorde Guevara</a>
              on January 24, 2018</p>
          </div>
          <hr>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
      </div>
    </section>

  </main>



  <footer>
    <% include ../partials/footer %>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
</body>

</html>