
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% include ../partials/head  %>
</head>


<body>

<header>
	<% include ../partials/header %>
</header>

<!-- Main Content ========================================================================= -->
<div class="main-container">
<div class="jumbotron-fluid">
	<img src="images/header.jpg" class="img-fluid">
	<div class="container-fluid">
		
		<div class="text-box">
			<h1 class="text-box__primary">
				<span class="text-box__main">Teach what you learn</span>
				<span class="text-box__sub">speak what you heard</span>

			</h1>

			<!-- <a href="#" class = "btn btn-white btn-animated btn-font-size">Discover</a> -->
		</div>

	</div>
</div>
<div id="like_button_container"></div>
	<div class="container">
		<div class="caption">
			<h1> Let's get coding! </h1>
		</div>

	<section "features">
<div class="container">
	<div class="row">
   		 <div class="col-md-1 col-md-4">
   		 	<div class="feature-box">
   		 	<i class="feature-box__icon fa fa-balance-scale" aria-hidden="true"></i>
			<h2> Responsive Design </h2>
			<p> Applications are built with mobile first methology</p>
   		 	</div>
      	
    	</div>

    <div class="col-md-1 col-md-4" >
    	<div class="feature-box">
			<i class="feature-box__icon fa fa-pencil" aria-hidden="true"></i>
				<h2> Quickly Protoyped </h2>
			<p> Concepts are given to you in a timely manner</p>
    	</div>
    </div>
    	<div class="col-md-1 col-md-4">
    	  <div class="feature-box">
 			<i class="feature-box__icon fa fa-diamond" aria-hidden="true"></i>
				<h2> High-Quality Code </h2>
			<p> Applications are tested to be ready to deployed
			 	with no bugs</p>
    	  </div>
    	</div>
 	</div>
</div>

	</section>
      

      	<h1 class="projects--title mt-4">
				projects	(Coming Soon)
		</h1>
		
		<section class="projects">
			<div class="card-deck">
			  <div class="card mt-4">
			    <img class="card-img-top mb-5" src="images/projects.jpg" alt="Card image cap">
			   
			  </div>
			  <div class="card mt-4">
			    <img class="card-img-top mb-5" src="images/projects.jpg" alt="Card image cap">
			   
			  </div>
			  <div class="card mt-4">
			    <img class="card-img-top mb-5" src="images/projects.jpg" alt="Card image cap">
			 
			  </div>
			</div>
		</section>

	</div> 
</div>

<footer>
	<% include ../partials/footer %>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="like_button.js"></script>


</body>
</html>
